@page
@model Taller.App.Front.Pages.GestionVehiculoModel
@{
}


<div class="container-fluid">

  <div class="col">
    <div class="row-sm-6" >
      <h4 style="font-weight: bold">Listado de Vehículos Registrados</h4>

      <input class="form-control" id="myInput" type="text" placeholder="Busqueda..">
      <br>          

      <table class="table table-bordered table table-hover">
        <thead>
          <tr>
            <th>Placa</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Capacidad</th>
            <th>Cilindrada</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DBX680</td>
            <td>Automovil</td>
            <td>Honda</td>
            <td>2018</td>
            <td>5 Pasajeros</td>
            <td>2000 CC</td>
          </tr>
          <tr>
            <td>BSP413</td>
            <td>Automovil</td>
            <td>Renault</td>
            <td>2015</td>
            <td>5 Pasajeros</td>
            <td>1500 CC</td>
          </tr>
          <tr>
            <td>BOR612</td>
            <td>Camioneta</td>
            <td>Volvo</td>
            <td>2021</td>
            <td>8 Pasajeros</td>
            <td>3500 CC</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="row-sm-6">
    
      <h4 style="font-weight: bold">Propietario Registrado</h4>
      <table class="table table-bordered table table-hover">
        <thead>
          <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th># Teléfono</th>
            <th>Dirección</th>
            <th>Nivel Estudios</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>47540684</td>
            <td>Leonardo</td>
            <td>Torres</td>
            <td>3103096478</td>
            <td>Calle 5 #22-68</td>
            <td>Técnico</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

    <div class="row-sm-6">
      <h4>Registro de Revisiones</h4>
      <table class="table table-bordered table table-hover">
        <thead>
          <tr>
            <th>Revisión #</th>
            <th>Fecha</th>
            <th>Ciudad</th>
            <th>Sede</th>
            <th>Mecánico</th>
            <th>Kilometraje</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>19</td>
            <td>Ene-18-2022</td>
            <td>Bogotá</td>
            <td>Norte</td>
            <td>Leonardo Torres</td>
            <td>85613</td>
          </tr>
          <tr>
            <td>18</td>
            <td>Feb-15-2021</td>
            <td>Barranquilla</td>
            <td>Sur</td>
            <td>Miguel Daza</td>
            <td>80240</td>
          </tr>
          <tr>
            <td>17</td>
            <td>Abr-08-2020</td>
            <td>Medellin</td>
            <td>Centro</td>
            <td>Luis Lopez</td>
            <td>75108</td>
          </tr>
          <tr>
            <td>16</td>
            <td>Ene-06-2020</td>
            <td>Bogotá</td>
            <td>Sur</td>
            <td>David Luna</td>
            <td>73489</td>
          </tr>
        </tbody>
      </table>
    </div>  
    <div class="row-sm-6">
      <h4>Registro de Servicios</h4>
      <table class="table table-bordered table table-hover">
        <thead>
          <tr>
            <th>Revisión #</th>
            <th>Tipo de Servicio</th>
            <th>Repuesto</th>
            <th>??</th>
            <th>??</th>
            <th>??</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>19</td>
            <td>Revisión General</td>
            <td>N/A</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
          </tr>
          <tr>
            <td>19</td>
            <td>Sincronización</td>
            <td>N/A</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
          </tr>
          <tr>
            <td>19</td>
            <td>Alineación y Balanceo</td>
            <td>N/A</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
          </tr>
          <tr>
            <td>19</td>
            <td>Revisión de Frenos</td>
            <td>N/A</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
          </tr>


        </tbody>
      </table>
    </div>
